body{
    background: #f6e4ca;
}
@font-face{
    font-family: letra1;
    src: url(letras/MYRIADPRO-REGULAR.OTF);
}
#iconoblanco{
    background-color: #fdfbfb;
    width: 45vw;
    height: 28vw;
    text-align: center;
    font-size: 2vw;
    border: solid transparent;
    margin: 0 auto;
}
#iconoblanco2{
    background-color: #fffffe;
    width: 12vw;
    height: 12vw;
    border-radius: 50vw;
    animation: iconoblanco2 2s forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vw auto;
    margin-bottom: -8vw;
}
#imagen1{
    width: 10vw;
    height: 10vw;
    margin-left: 0.5vw;
}
#letra1{
    color: #f25768;
    font-family: letra1;
    font-size: 3.2vw;
    margin-top: 10vw;
    animation: letra1 5s forwards;
}
#letra2{
    color: #918e8f;
    font-family: letra1;
    font-size: 1.8vw;
    margin-top: -2.5vw;
    animation: letra2 5s forwards;
}
#letra3{
    color: #918e8f;
    font-family: letra1;
    font-size: 1.8vw;
    width: 90vw;
    position: absolute;
    left: -6vw;
    margin-top: -1.5vw;
    position: relative;
    animation: letra3 5s forwards;
}
#cuadro{
    background-color: #2a99af;
    color: #fffffe;
    width:22vw;
    margin: 2vw auto;
    padding: 0.6vw;
    font-family: letra1;
    font-size: 2vw;
    transition: background-color 0.3s ease;
}
#cuadro:hover {
    background-color: #f3596b;
}
@keyframes iconoblanco2{
    0%{
        margin-top: 50vw;
    }
    90%{
        margin-top: 0vw;
    }
    95%{
        margin-top: 7vw;
    }
}