@font-face {
    font-family: letra1;
    src: url(letras/MYRIADPRO-REGULAR.OTF);
}
#contenido{
    width: 1920px;
    margin: 0 auto;
}
#pexels{
    width: 1920px;
    height: 1890px;
}
#fondob{
    background-color: white;
    position: relative;
    top: -1572px;
    left: 139px;
    width: 1598px;
    height: 1221px;
    border-radius: 35px 35px 35px 35px;
}
#dian{
    position: relative;
    top: -2622px;
    left: -818px;
    width: 313px;
    height: 79px;
    font-size: 47px;
}
#iconoazul2{
    background-color: #3366cc;
    position: relative;
    top: 3224px;
    left: 1px;
    width: 1920px;
    height: 269px;
}
#iconchekmark{
    position: relative;
    top: -2555px;
    left: 784px;
    width: 290px;
    height: 290px;
    font-size: 47px;
}
#solicitud{
    position: relative;
    top: -2544px;
    width: 941px;
    height: 56px;
    border-radius: 108px;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#292929;
    left: 463px;
}
#felicitaciones{
    position: relative;
    top: -2573px;
    width: 1576px;
    height: 25px;
    border-radius: 108px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#3d3d3d;
    left: 180px;
}
#recibir{
    position: relative;
    top: -2600px;
    width: 941px;
    height: 56px;
    border-radius: 108px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#3d3d3d;
    left: 463px;
}
#ajaxloadingbar{
    position: relative;
    top: -2601px;
    left: 729px;
    width: 307px;
    height: 142px;
    font-size: 51px;
}
#volver{
    width: 438px;
    height: 15px;
    background-color: #157ffb;
    border: 1px solid #157ffb;
    padding: 20px;
    top: -2555px;
    left: 665px;
    position: relative;
    color: #8cc0fd;
    font-size: 33px;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
#iconoazul1{
    background-color: #3366cc;
    position: relative;
    top: 1890px;
    left: 1px;
    width: 1918px;
    height: 269px;
}
#inicio{
    position: relative;
    top: -3854px;
    width: 941px;
    height: 56px;
    border-radius: 108px;
    font-size: 47px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: #f2f2f2;
    left: -74px;
    text-decoration: none;
}
#tramites3{
    position: relative;
    top: -3979px;
    width: 941px;
    height: 56px;
    border-radius: 108px;
    font-size: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#f2f2f2;
    left: 166px;
}
#gobierno{
    position: relative;
    top: -4096px;
    left: 784px;
    width: 346px;
    height: 100px;
    font-size: 47px;
}
#contacto{
    position: relative;
    top: -4226px;
    width: 941px;
    height: 56px;
    border-radius: 108px;
    font-size: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#f2f2f2;
    left: 818px;
}
#consultar2{
    width: 212px;
    height: 15px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 20px;
    top: -4330px;
    left: 1466px;
    position: relative;
    color:black;
    font-size: 33px;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
#iconmaterial{
    position: relative;
    top: -2909px;
    left: 297px;
    width: 33px;
    height: 50px;
}
#logofooter{
    position: relative;
    top: -2768px;
    left: 630px;
    width: 396px;
    height: 111px;
    font-size: 47px;
}
#prosperidad{
    position: relative;
    top: -2908px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 36px;
}
#carrera{
    position: relative;
    top: -2909px;
    width: 789px;
    height: 11px;
    border-radius: 108px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: -46px;
}
#codigopostal{
    position: relative;
    top: -2915px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 36px;
}
#horario{
    position: relative;
    top: -2923px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 36px;
}
#iconphone{
    position: relative;
    top: -3152px;
    left: 1478px;
    width: 50px;
    height: 63px;
    font-size: 47px;
}
#contact{
    position: relative;
    top: -3168px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 1209px;
}
#lineaatencion{
    position: relative;
    top: -3175px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 1223px;
}
#pbx{
    position: relative;
    top: -3178px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 1208px;
}
#numeros{
    position: relative;
    top: -3178px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 1209px;
}
#iconfile{
    position: relative;
    top: -3059px;
    left: 630px;
    width: 63px;
    height: 84px;
    font-size: 47px;
}