@font-face{
    font-family: letra1;
    src: url(letras/MYRIADPRO-REGULAR.OTF);
    font-family: letra2;
    src: url(letras/MyriadPro-Light.otf);
}
#contenido{
    width: 1920px;
    margin: 0 auto;
}
#pexels{
    width: 1920px;
    height: 1890px;
}
#fondob{
    background-color: white;
    position: relative;
    top: -1572px;
    left: 139px;
    width: 1598px;
    height: 1221px;
    border-radius: 35px 35px 35px 35px;
}
#dian{
    position: relative;
    top: -2672px;
    left: -818px;
    width: 313px;
    height: 53px;
    font-size: 47px;
}
#iconoazul2{
    background-color: #3366cc;
    position: relative;
    top: -572px;
    left: 1px;
    width: 1920px;
    height: 269px;
}
#iconoazul1{
    background-color: #3366cc;
    position: relative;
    top: 1890px;
    left: 1px;
    width: 1918px;
    height: 269px;
}
#tramitarfirma1{
    position: relative;
    top: -2501px;
    width: 347px;
    height: 35px;
    border-radius: 108px;
    font-size: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#303030;
    left: 754px;
}
#iconsignature{
    position: relative;
    top: -2680px;
    left: 889px;
    width: 130px;
    height: 80px;
    font-size: 47px;
    border: 10px;
}
#ingresa{
    position: relative;
    top: -2600px;
    width: 1451px;
    height: 35px;
    border-radius: 108px;
    font-size: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#303030;
    left: 182px;
}
#iconoazul1{
    background-color: #3366cc;
    position: relative;
    top: -1908px;
    left: 1px;
    width: 1918px;
    height: 269px;
}
#recuerde{
    position: relative;
    top: -2606px;
    width: 941px;
    height: 35px;
    border-radius: 108px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#303030;
    left: 430px;
}
#check{
    position: relative;
    top: -2610px;
    left: 527px;
    width: 20px;
    height: 20px;
    font-size: 47px;
    border: 10px;
}
#debe{
    position: relative;
    top: -2675px;
    width: 941px;
    height: 35px;
    border-radius: 108px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#303030;
    left: 430px;
}
#check2{
    position: relative;
    top: -2705px;
    left: 608px;
    width: 20px;
    height: 20px;
    font-size: 47px;
    border: 10px;
}
#debe2{
    position: relative;
    top: -2766px;
    width: 941px;
    height: 35px;
    border-radius: 108px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#303030;
    left: 419px;
}
#check3{
    position: relative;
    top: -2797px;
    left: 323px;
    width: 20px;
    height: 20px;
    font-size: 47px;
    border: 10px;
}
#debe3{
    position: relative;
    top: -2857px;
    width: 1471px;
    height: 35px;
    border-radius: 108px;
    font-size: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#303030;
    left: 265px;
}
#check4{
    position: relative;
    top: -2881px;
    left: 468px;
    width: 20px;
    height: 20px;
    font-size: 47px;
    border: 10px;
}
#nodebe{
    position: relative;
    top: -2941px;
    width: 1471px;
    height: 35px;
    border-radius: 108px;
    font-size: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#303030;
    left: 260px;
}
#check5{
    position: relative;
    top: -2965px;
    left: 233px;
    width: 20px;
    height: 20px;
    font-size: 47px;
    border: 10px;
}
#nodebe2{
    position: relative;
    top: -3023px;
    width: 1471px;
    height: 35px;
    border-radius: 108px;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#303030;
    left: 204px;
}
#contraseña{
    position: relative;
    top: -3037px;
    width: 1451px;
    height: 35px;
    border-radius: 108px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#303030;
    left: -414px;
}
#cuadro1{
    width: 792px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 20px;
    top: -3077px;
    left: 218px;
    position: relative;
    color: #f2f2f2;
    font-size: 45px;
}
#vuelve1{
    position: relative;
    top: -3112px;
    width: 1451px;
    height: 35px;
    border-radius: 108px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#303030;
    left: -260px;
}
#cuadro2{
    width: 792px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 20px;
    top: -3154px;
    left: 218px;
    position: relative;
    color: #f2f2f2;
    font-size: 45px;
}
#nosoy{
    position: relative;
    top: -3195px;
    left: 771px;
    width: 401px;
    height: 113px;
    font-size: 47px;
}
#sitienes{
    position: relative;
    top: -3227px;
    width: 1471px;
    height: 35px;
    border-radius: 108px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#747474;
    left: 247px;
}
#crear{
    width: 318px;
    height: 39px;
    background-color: #157ffb;
    border: 1px solid #157ffb;
    padding: 20px;
    top: -3230px;
    left: 776px;
    position: relative;
    color:#94c5fd;
    font-size: 52px;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
#inicio{
    position: relative;
    top: -4702px;
    width: 941px;
    height: 56px;
    border-radius: 108px;
    font-size: 47px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#f2f2f2;
    left: -74px;
    text-decoration: none;
}
#tramites{
    position: relative;
    top: -4827px;
    width: 941px;
    height: 56px;
    border-radius: 108px;
    font-size: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#f2f2f2;
    left: 166px;
}
#futuro{
    position: relative;
    top: -4944px;
    left: 784px;
    width: 346px;
    height: 100px;
    font-size: 47px;
}
#contacto{
    position: relative;
    top: -5069px;
    width: 941px;
    height: 56px;
    border-radius: 108px;
    font-size: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color:#f2f2f2;
    left: 818px;
}
#consultar{
    width: 212px;
    height: 15px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 20px;
    top: -5171px;
    left: 1466px;
    position: relative;
    color:black;
    font-size: 33px;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
#iconmate{
    position: relative;
    top: -3755px;
    left: 297px;
    width: 33px;
    height: 50px;
}
#logofooter{
    position: relative;
    top: -3630px;
    left: 630px;
    width: 396px;
    height: 111px;
    font-size: 47px;
}
#prosperidad{
    position: relative;
    top: -3770px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 36px;
}
#carrera{
    position: relative;
    top: -3777px;
    width: 789px;
    height: 11px;
    border-radius: 108px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: -46px;
}
#codigo{
    position: relative;
    top: -3783px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 36px;
}
#horario{
    position: relative;
    top: -3791px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 36px;
}
#iconphone{
    position: relative;
    top: -3990px;
    left: 1478px;
    width: 50px;
    height: 63px;
    font-size: 47px;
}
#contact{
    position: relative;
    top: -4014px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 1209px;
}
#lineaatencion{
    position: relative;
    top: -4016px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 1223px;
}
#pbx{
    position: relative;
    top: -4019px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 1208px;
}
#numeros{
    position: relative;
    top: -4021px;
    width: 550px;
    height: 11px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color:#eff3fb;
    left: 1209px;
}
