html{
    height:100%;
}
body{
    background: rgb(128, 128, 128);
    background: linear-gradient(0deg, rgba(128, 128, 128, 1) 33%, rgba(255, 255, 255, 1)100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 250ms;
}
.contenido{
    position: relative;
    margin: auto;
    width: 1400px;
    height: 800px;
    background-color: #FFFFFF;
    top: 140px;
}
.tema{
    position: relative;
    height: 802px;
    width: 110px;
    background-color: #212020;
    left: 1290px;
    bottom: 601px;
}
.tema .uno{
    position: relative;
    left: 45px;
    bottom: 120px;
    height: 14px;
    width: 23px;
}
.temas .dos{
    position: relative;
    left: 18px;
    top: 560px;
    height: 13px;
    width: 23px;
}
.tema .tres{
    position: relative;
    top: 300px;
    right: 15px;
}
.temap{
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
    bottom: 70px;
}
.informacion{
    position: relative;
    height: 100px;
    width: 1400px;
    top: 43px;
    left: 43px;
}
.informacion .uno{
    font-size: 30px;
    position: relative;
    left: 733px;
    bottom: 86px;
    color: black;
}
.informacion .dos{
    font-size: 30px;
    position: relative;
    left: 972px;
    bottom: 155px;
    color: black;
    text-decoration: none;
}
#informacionB{
    position: relative;
    left: 980px;
    top: -300;
    bottom: 150px;
    width: 27px;
    height: 27px;
}
.informacionC{
    position: relative;
    left: 1030px;
    bottom: 150px;
    width: 27px;
    height: 27px;
}
.informacionimg{
    height: 44px;
    width: 196px;
}
.informacionh1{
    position: relative;
    font-weight: bold;
    left: 154px;
    bottom: 200px;
}
.cuadrado{
    position: relative;
    bottom: 800px;
    left: 1100px;
    width: 160px;
    height: 114px;
    background-color: #D5FF43;
    border-radius: 10px;
    transition: all 250ms;
}
.cuadrado:hover{
    transform: scale(1.1);
}
.cuadradoimg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 129px;
    height: 29px;
}
.cuadrador{
    position: relative;
    font-size: 26px;
    left: 30px;
    font-weight: bold;
}
.compra{
    position: relative;
    bottom: 900px;
    left: 58px;
}
.comprah2{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
}
.comprap{
    font-size: 27px;
    position: relative;
    bottom: 39px;
}
.tarjeta{
    position: relative;
    left: 100px;
}
#linea{
    position: relative;
    top: -200px;
    left: 755px;
}

