html{
    height: 100px;
}
body{
    background: rgb(128, 128, 128);
    background: linear-gradient(0deg, (128, 128, 128, 1)33% rgba(255, 255, 255, 1)100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 250px;
}
.contenid{
    position: relative;
    margin: auto;
    width: 1400px;
    height: 800px;
    background-color: #FFFFFF;
    top: 140px;
}
.tema{
    position: relative;
    height: 802px;
    width: 110px;
    background-color: #212020;
    left: 1290px;
    bottom: 427px;
}
.tema .uno{
    position: relative;
    left: 45px;
    bottom: -40px;
    height: 13px;
    width: 23px;
}
.tema .dos{
    position: relative;
    left: 15px;
    top: 750px;
    height: 13px;
    width: 23px;
}
.tema .tres{
    position: relative;
    top: 300px;
    right: -20px;
}
.temap{
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
    bottom: 70px;
}
.informacion{
    position: relative;
    height: 100px;
    width: 1400px;
    top: 43px;
    left: 43px;
}
.informacion .uno{
    font-size: 30px;
    position: relative;
    left: 533px;
    bottom: 26px;
    color: black;
    text-decoration: none;
}
.informacion .dos{
    font-size: 30px;
    position: relative;
    left: 972px;
    bottom: 95px;
    color: black;
}
#informacionB{
    position: relative;
    left: 1100px;
    bottom: 155px;
    width: 27px;
    height: 27px;
}
.informacionC{
    position: relative;
    left: 1150px;
    bottom: 155px;
    width: 27px;
    height: 27px;
}
.informacionimg{
    height: 44px;
    width: 196px;
}
.informacionh1{
    position: relative;
    font-weight: bold;
    left: 974px;
    bottom: 200px;
}
.cuadrado{
    position: relative;
    bottom: 580px;
    left: 1100px;
    width: 160px;
    height: 114px;
    background-color: #D5FF43;
    border-radius: 10px;
    transition: all 250ms;
}
.cuadrado:hover{
    transform: scale(1.1);
}
.cuadradoimg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 129px;
    height: 29px;
}
.cuadradop{
    position: relative;
    font-size: 26px;
    left: 30px;
    font-weight: bold;
}
#saldo{
    position: relative;
    bottom: 900px;
    text-align: center;
}
.saldoh1{
    font-size: 40px;
}
.saldop{
    font-size: 27px;
    font-weight: bold;
}
.saldoE{
    border-radius: 10px;
    width: 288px;
    height: 58px;
    text-align: center;
    font-size: 30px;
    border: 0.5px solid gray;
}
.tarjeta{
    position: relative;
    left: 435px;
    height: 320px;
    width: 530px;
}