#contenedor{
    width: 1920px;
    height: 1080px;
}
#casa{
    width: 900px;
    height: 900px;
    margin-top: -325px;
    margin-left: 322px;
}
#sol{
    width: 200px;
    height: 200px;
    margin-top: -1100px;
    margin-left: 450px;
    animation: opacarse 16s infinite;
}
@keyframes opacarse{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
#nube{
    position: absolute;
    z-index: 2;
    top: 20px;
    width: 350px;
    animation: movernube 16s linear infinite;
}
@keyframes movernube {
    0% {left: 1000px;}
    40%{left: calc(40% - 100px);}
    60% {left: calc(40% - 100px);}
    100% {left: -200px;}
}

#lluvia{
    position: absolute;
    margin-top: 0.5%;
    left: 300px;
    width: 200px;
    opacity: 0%;
    animation-delay: 6s;
    animation: lluvia 15s linear infinite;
}
@keyframes lluvia {
    0% {top: -20px;}
    60%{opacity: 90%;}
    100%{opacity: 100%;}
    100% {top: 300px;}
}
.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -300px;
    margin-left: -400px;
}

.numero {
    font-size: 3em;
    margin: 0 10px;
    opacity: 0; 
    animation: aparecer 1s linear, desaparecer 0s linear;
}

@keyframes aparecer {
    0% {opacity: 0.4;}
    100% {opacity: 1;}
}
@keyframes desaparecer {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.numero:nth-child(1) {animation-delay: 0s;}

.numero:nth-child(2) {animation-delay: 1s;}

.numero:nth-child(3) {animation-delay: 2s;}

.numero:nth-child(4) {animation-delay: 3s;}
#flor{
    position: absolute;
    top: 270px;
    left: 280px;
    width: 300px;
    animation: desaparecer 15s infinite ;
}
@keyframes desaparecer {
    0% {top: 1000px;}
}