#contenedor{
    width: 1920px;
    height: 1080px;
}
#casa{
    width: 900px;
    height: 900px;
    margin-top: -325px;
    margin-left: 322px;
}
#sol{
    width: 200px;
    height: 200px;
    margin-top: -1100px;
    margin-left: 450px;
    animation: opacarse 12s infinite;
}
@keyframes opacarse{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
#nube{
    position: absolute;
    z-index: 2;
    top: 20px;
    width: 350px;
    animation: movernube 11s linear infinite;
}
@keyframes movernube {
    0% {left: 1000px;}
    40%{left: calc(40% - 100px);}
    60% {left: calc(40% - 100px);}
    100% {left: -200px;}
}
#flor{
    position: absolute;
    top: 270px;
    left: 280px;
    width: 300px;
    animation: desaparecer 12s infinite ;
}
@keyframes desaparecer {
    0% {top: 1000px;}
}
#lluvia{
    position: absolute;
    top: 100px;
    left: 300px;
    width: 200px;
    animation: lluvia 11s linear infinite;
}
@keyframes lluvia {
    0% {top: -20px;}
    100% {top: 300px;}
    0%{opacity: 0;}
    100%{opacity: 2;}
}
