@font-face{
    font-family: letra1;
    src: url(letras/MyriadPro-Light.otf);
}
#contendor{
    width: 100vw;
    height: 52vw;
    background-color: white;
}
#caja1{
    width: 100vw;
    height: 100vw;
}
#iconoazul{
    background-color: #3366cc;
    position: absolute;
    top: -0.55vw;
    left: 0.4vw;
    width: 100vw;
    height: 5vw;
    z-index: 2;
}
#imagen1{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 50vw;
}
#inicio{
    position: absolute;
    top: 2vw;
    width: 4vw;
    height: 2vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 8vw;
    text-decoration: none;
    z-index: 2;
}
#quees{
    position: absolute;
    top: 2vw;
    width: 35vw;
    height: 2vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 8vw;
    text-decoration: none;
    z-index: 2;
}
#imagen2{
    width: 18vw;
    height: 3vw;
    top: 1.5vw;
    left: 35vw;
    position: absolute;
    display: flex;
    z-index: 2;
}
#entrega{
    position: absolute;
    top: 2vw;
    width: 6vw;
    height: 2vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 61vw;
    text-decoration: none;
    z-index: 2;
}
#consultar{
    width: 11vw;
    height: 3.5vw;
    background-color: white;
    margin-right: 1.5%;
    border-radius: 1.5vw;
    text-decoration: none;
    top: 1.5vw;
    left: 76vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: letra1;
    font-size: 2vw;
    z-index: 2;
}
#cuadro{
    width: 30vw;
    height: 38vw;
    background-color: white;
    margin-right: 1.5%;
    border-radius: 1.5vw;
    text-decoration: none;
    top: 7.5vw;
    left: 7vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#consultae{
    position: absolute;
    top: 9vw;
    width: 28vw;
    height: 2vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 8vw;
}
#ingreso{
    position: absolute;
    top: 11.5vw;
    width: 28vw;
    height: 2vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 8vw;
}
#solidario{
    position: absolute;
    top: 14vw;
    width: 28vw;
    height: 2vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 8vw;
}
#porfavor{
    position: absolute;
    top: 16vw;
    width: 38vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 3vw;
}
#de{
    position: absolute;
    top: 17.5vw;
    width: 28vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 8vw;
}
#tipo{
    position: absolute;
    top: 20vw;
    width: 80vw;
    height: 2vw;
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -29vw;
}
#cuadro1{
    width: 23vw;
    height: 1vw;
    background-color: #ffffff;
    border: 1px solid black;
    top: 21.7vw;
    left: 7.5vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 14px;
    font-family: letra1;
}
#numero{
    position: absolute;
    top: 23vw;
    width: 80vw;
    height: 2vw;
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -28.5vw;
}
#cuadro2{
    width: 23vw;
    height: 1vw;
    background-color: #ffffff;
    border: 1px solid black;
    top: 24.7vw;
    left: 7.5vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 11px;
    font-family: letra1;
}
#nombre{
    position: absolute;
    top: 26vw;
    width: 80vw;
    height: 2vw;
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -29.9vw;
}
#cuadro3{
    width: 23vw;
    height: 1vw;
    background-color: #ffffff;
    border: 1px solid black;
    top: 27.7vw;
    left: 7.5vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 11px;
    font-family: letra1;
}
#apellido{
    position: absolute;
    top: 29vw;
    width: 80vw;
    height: 2vw;
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -29.9vw;
}
#cuadro4{
    width: 23vw;
    height: 1vw;
    background-color: #ffffff;
    border: 1px solid black;
    top: 30.7vw;
    left: 7.5vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 11px;
    font-family: letra1;
}
#fecha{
    position: absolute;
    top: 32vw;
    width: 80vw;
    height: 2vw;
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -26.5vw;
}
#cuadro5{
    width: 23vw;
    height: 1vw;
    background-color: #ffffff;
    border: 1px solid black;
    top: 33.7vw;
    left: 7.5vw;
    position: absolute;
    display: flex;
    color: black;
    font-size: 1vw;
    font-family: letra1;
}
#telefono{
    position: absolute;
    top: 35vw;
    width: 80vw;
    height: 2vw;
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -30.2vw;
}
#cuadro6{
    width: 23vw;
    height: 1vw;
    background-color: #ffffff;
    border: 1px solid black;
    top: 36.7vw;
    left: 7.5vw;
    position: absolute;
    display: flex;
    color: black;
    font-size: 1vw;
    font-family: letra1;
}
#consultar2{
    width: 11vw;
    height: 3.5vw;
    background-color: #3366cc;
    margin-right: 1.5%;
    border-radius: 1.5vw;
    text-decoration: none;
    top: 38vw;
    left: 17vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: letra1;
    font-size: 2vw;
}
#ingresos{
    position: absolute;
    top: 20vw;
    width: 28vw;
    height: 2vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 55vw;
}
#debido{
    position: absolute;
    top: 24vw;
    width: 39vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 51vw;
}
#el{
    position: absolute;
    top: 27vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 46vw;
}
#que{
    position: absolute;
    top: 30vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 44vw;
}
#un{
    position: absolute;
    top: 33vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 44vw;
}
#consultar3{
    width: 11vw;
    height: 3.5vw;
    background-color: #3366cc;
    margin-right: 1.5%;
    border-radius: 1.5vw;
    text-decoration: none;
    top: 39vw;
    left: 60vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: letra1;
    font-size: 1.5vw;
}
#imagen3{
    width: 47vw;
    height: 39vw;
    position: absolute;
    display: flex;
    left: 50vw;
    top: 50vw;
}
#queun{
    position: absolute;
    top: 50vw;
    width: 47vw;
    height: 2vw;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 18vw;
}
#esquema{
    position: absolute;
    top: 57vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2vw;
}
#transferencia{
    position: absolute;
    top: 59vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2.5vw;
}
#situacion{
    position: absolute;
    top: 61vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 0.8vw;
}
#sean{
    position: absolute;
    top: 63vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2.5vw;
}
#hogares{
    position: absolute;
    top: 67vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2.5vw;
}
#vulne{
    position: absolute;
    top: 69vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2.5vw;
}
#como{
    position: absolute;
    top: 71vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2.5vw;
}
#hagan{
    position: absolute;
    top: 73vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2.5vw;
}
#fami{
    position: absolute;
    top: 75vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2.5vw;
}
#jove{
    position: absolute;
    top: 77vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2vw;
}
#podran{
    position: absolute;
    top: 79vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2.5vw;
}
#conocer{
    position: absolute;
    top: 83vw;
    width: 47vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 2.5vw;
}
#imagen4{
    width: -2vw;
    height: -2vw;
    position: absolute;
    display: flex;
    left: 25vw;
    top: 86vw;
}
#caja3{
    width: 100vw;
    height: 30vw;
}
#etapas{
    position: absolute;
    top: 88vw;
    width: 47vw;
    height: 2vw;
    font-size: 2.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 19vw;
}
#eta{
    position: absolute;
    top: 92vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -7vw;
}
#desde{
    position: absolute;
    top: 98vw;
    width: 47vw;
    height: 2vw;
    font-size: 2.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -8vw;
}
#imagen5{
    width: 14vw;
    height: 10vw;
    position: absolute;
    display: flex;
    left: 8vw;
    top: 105vw;
}
#eta2{
    position: absolute;
    top: 92vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 18vw;
}
#desde2{
    position: absolute;
    top: 98vw;
    width: 47vw;
    height: 2vw;
    font-size: 2.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 18vw;
}
#bancos{
    position: absolute;
    top: 99vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 18vw;
}
#imagen6{
    width: 16vw;
    height: 12vw;
    position: absolute;
    display: flex;
    left: 33vw;
    top: 102vw;
}
#imagen7{
    width: 9vw;
    height: 3.5vw;
    position: absolute;
    display: flex;
    left: 30vw;
    top: 112vw;
}
#imagen8{
    width: 11vw;
    height: 6vw;
    position: absolute;
    display: flex;
    left: 42vw;
    top: 111vw;
}
#eta3{
    position: absolute;
    top: 92vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 45vw;
}
#abril{
    position: absolute;
    top: 98vw;
    width: 47vw;
    height: 2vw;
    font-size: 2.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 45vw;
}
#imagen9{
    width: 18vw;
    height: 7vw;
    position: absolute;
    display: flex;
    left: 60vw;
    top: 106vw;
}
#preguntas{
    position: absolute;
    top: 117vw;
    width: 47vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 18vw;
}
#imagen10{
    width: -2vw;
    height: -2vw;
    position: absolute;
    display: flex;
    left: 41vw;
    top: 120vw;
}
#caja4{
    width: 100vw;
    height: 39vw;
}
#frecuentes{
    position: absolute;
    top: 123vw;
    width: 47vw;
    height: 2vw;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 25vw;
}
#iconoazul2{
    background-color: #3366cc;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 10vw;
    margin-top: -1vw;
    margin-left: 45vw;
}
#uno{
    position: absolute;
    top: 128.5vw;
    width: 47vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 23.2vw;
}
#yo{
    position: absolute;
    top: 133vw;
    width: 56vw;
    height: 2vw;
    font-size: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 18.1vw;
}
#enla{
    position: absolute;
    top: 135.5vw;
    width: 56vw;
    height: 2vw;
    font-size: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 18.1vw;
}
#estamos{
    position: absolute;
    top: 138vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 23vw;
}
#si{
    position: absolute;
    top: 140vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 23vw;
}
#identi{
    position: absolute;
    top: 142vw;
    width: 47vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 23vw;
}
#iconoazul3{
    background-color: #3366cc;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 10vw;
    margin-top: 17vw;
    margin-left: 45vw;
}
#dos{
    position: absolute;
    top: 148vw;
    width: 47vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 23.2vw;
}
#porque{
    position: absolute;
    top: 153vw;
    width: 100vw;
    height: 2vw;
    font-size: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -4vw;
}
#actu{
    position: absolute;
    top: 155vw;
    width: 100vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -4vw;
}
#encontro{
    position: absolute;
    top: 157vw;
    width: 100vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -4vw;
}
#iden{
    position: absolute;
    top: 159vw;
    width: 100vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -4vw;
}
#ver{
    position: absolute;
    top: 162vw;
    width: 100vw;
    height: 2vw;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: -4vw;
}
#imagen11{
    width: -2vw;
    height: -2vw;
    position: absolute;
    display: flex;
    left: 45.2vw;
    top: 165vw;
}
#caja5{
    width: 100vw;
    height: 45vw;
}
#iconoazul4{
    background-color: #3366cc;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 10vw;
    margin-top: 4vw;
    margin-left: 44.4vw;
}
#tres{
    position: absolute;
    top: 171.8vw;
    width: 47vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 22.5vw;
}
#debo{
    position: absolute;
    top: 177vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#usted{
    position: absolute;
    top: 179vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#enviado{
    position: absolute;
    top: 181vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#comu{
    position: absolute;
    top: 183vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#not{
    position: absolute;
    top: 185vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#dentro{
    position: absolute;
    top: 187vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#las{
    position: absolute;
    top: 189vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#iconoazul5{
    background-color: #3366cc;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 10vw;
    margin-top: 20vw;
    margin-left: 44.4vw;
}
#cuatro{
    position: absolute;
    top: 194vw;
    width: 47vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 22.5vw;
}
#pagina{
    position: absolute;
    top: 199vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#me{
    position: absolute;
    top: 201vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#nombre1{
    position: absolute;
    top: 203vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#ciclo{
    position: absolute;
    top: 205vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#darles{
    position: absolute;
    top: 207vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#ver2{
    position: absolute;
    top: 210vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9vw;
}
#imagen12{
    width: -2vw;
    height: -2vw;
    position: absolute;
    display: flex;
    left: 45.7vw;
    top: 213vw;
}
#caja6{
    width: 100vw;
    height: 43vw;
}
#iconoazul6{
    background-color: #3366cc;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 10vw;
    margin: 4vw;
    margin-left: 44.4vw;
}
#cinco{
    position: absolute;
    top: 220.5vw;
    width: 47vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 22.5vw;
}
#losque{
    position: absolute;
    top: 226vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 10vw;
}
#pros{
    position: absolute;
    top: 227vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 10vw;
}
#fuentes{
    position: absolute;
    top: 229vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 10vw;
}
#invi{
    position: absolute;
    top: 231vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 10vw;
}
#iconoazul7{
    background-color: #3366cc;
    width: 73vw;
    height: 14vw;
    border-radius: 5vw;
    margin: 4vw;
    margin-left: 10vw;
    margin-top: 12vw;
}
#tiene{
    position: absolute;
    top: 238vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 10vw;
}
#dudes1{
    position: absolute;
    top: 240vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 10vw;
}
#iconoblanco{
    background-color: white;
    width: 9vw;
    height: 3vw;
    border-radius: 5vw;
    margin: 4vw;
    margin-left: 42vw;
    margin-top: -8vw;
}
#conta{
    position: absolute;
    top: 245vw;
    width: 75vw;
    height: 2vw;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: black;
    left: 9.2vw;
}
#iconoazul8{
    background-color: #3366cc;
    width: 99vw;
    height: 11vw;
    margin: 4vw;
    margin-left: -1vw;
    margin-top: 8vw;
}
#imagen13{
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 258vw;
    left: 10vw;
}
#social{
    position: absolute;
    top: 259vw;
    width: 75vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: -27vw;
}
#ca{
    position: absolute;
    top: 260.5vw;
    width: 75vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: -27vw; 
}
#co{
    position: absolute;
    top: 261.9vw;
    width: 75vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: -27vw;
}
#hora{
    position: absolute;
    top: 263.4vw;
    width: 75vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: -27vw;
}
#imagen14{
    width: 15vw;
    height: 5vw;
    position: absolute;
    top: 260vw;
    left: 40vw;
}
#imagen15{
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 258vw;
    left: 80vw;
}
#linea{
    position: absolute;
    top: 259vw;
    width: 75vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 43vw;
}
#linea2{
    position: absolute;
    top: 260.5vw;
    width: 75vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 43vw;
}
#conmu{
    position: absolute;
    top: 261.9vw;
    width: 75vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 43vw;
}
#ingre{
    position: absolute;
    top: 263.4vw;
    width: 75vw;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra1;
    color: white;
    left: 43vw;
}