@font-face {
    font-family: letra;
    src: url(font/AmazonEmber_Th.ttf);
    font-family: miletra;
    src: url(font/AmazonEmber_BdIt.ttf);
    font-family: letra2;
    src: url(font/AmazonEmber_Th\ -\ copia.ttf);
    font-family: letra3;
    src: url(font/AmazonEmber_Th\ -\ copia\ -\ copia.ttf);
}

#contenido{
    width: 1920px;
    height: 4120px;
    background: black;
    margin: auto;
}
#path1{
    top: 1000px;
    left: 2px;
    width: 1920px;
    height: 1080px;
    border: red 5px solid;
}
#fondotwitch{
    position: relative;
    left: 2px;
    width: 1920px;
    height: 1080px;
    background: transparent url('imagenes/FondoTwitch.png') 0% 0% no-repeat padding-box;
}
#iconeawesome{
    position: relative;
    top: -1050px;
    left: 63px;
    width: 36px;
    height: 36px;
    background: transparent url('imagenes/Icon\ awesome-search.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#group1{
    position: relative;
    top: -5251px;
    left: 1695px;
    width: 205px;
    height: 54px;
    background: transparent url('imagenes/Group\ 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#login{
    position: relative;
    width: 205px;
    height: 54px;
    background: rgb(255, 255, 255);
    border-radius: 108px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra;
    top: -1092px;
    left: 1647px;
    
}
#logoprime{
    position: relative;
    top: -990px;
    left: 682px;
    width: 556px;
    height: 313px;
    background: transparent url('imagenes/LogoPrimeE2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#yourfavorite{
    position: relative;
    top: -1086px;
    width: 1151px;
    height: 60px;
    border-radius: 108px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: miletra;
    color: white;
    left: 400px;
}
#nowyou{
    position: relative;
    top: -5113px;
    left: 380px;
    width: 1160px;
    height: 102px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra2;
    color: white;
}
#caja{
    width: 1792px;
    height: 724px;
    background: #00A8E1;
    border-radius: 108PX;
    position: relative;
    left: 63px;
    
}
#rectangle2{
    position: relative;
    top: -5077px;
    left: 733px;
    width: 458px;
    height: 104px;
    background: transparent url('imagenes/Rectangle\ 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
}
#singup{
    position: relative;
    top: -1130px;
    left: 780px;
    width: 360px;
    height: 40px;
    border-radius: 108px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: letra3;
    color: black;
}
#group2{
    position: relative;
    top: 29px;
    left: 65px;
    width: 1792px;
    height: 567px;
    background: transparent url('img/Group 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#rectangle3{
    position: relative;
    top: 11px;
    left: 64px;
    width: 1792px;
    height: 724px;
    background: transparent url('img/Rectangle 3.png') 0% 0% no-repeat padding-box;
    border-radius: 108px;
    opacity: 1;
}
#dontlike{
    position: relative;
    top: -5251px;
    left: 135px;
    width: 1664px;
    height: 60px;
    background: transparent url('img/Don’t like to watch Live? No problem , we got you covered.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#rectangle4{
    position: relative;
    top: -5214px;
    left: 676px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
#rectangle41{
    position: relative;
    top: -5531px;
    left: 470px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
#rectangle42{
    position: relative;
    top: -5850px;
    left: 887px;
    width: 180px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
#rectangle43{
    position: relative;
    top: -6168px;
    left: 1092px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
#rectangle44{
    position: relative;
    top: -6484px;
    left: 1298px;
    width: 181px;
    height: 309px;
    background: transparent url('img/Rectangle 4.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
#youll{
    position: relative;
    top: -6440px;
    left: 207px;
    width: 1492px;
    height: 110px;
    background: transparent url('img/You’ll find a variety of movies, not only for adults but also for your family, with our without internet. 24/7. On demand..png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#rectangle3{
    position: relative;
    top: -4067px;
    left: 64px;
    width: 1792px;
    height: 567px;
    background: transparent url('img/Rectangle 3.png') 0% 0% no-repeat padding-box;
    border-radius: 108px;
    opacity: 1;
}
#cancel{
    position: relative;
    top: -6929px;
    left: 560px;
    width: 800px;
    height: 60px;
    background: transparent url('img/Cancel any time , anywhere .png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#iconmetro{
    position: relative;
    top: -6885px;
    left: 876px;
    width: 169px;
    height: 169px;
    background: transparent url('img/Icon metro-cancel.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#ifyou{
    position: relative;
    top: -6805px;
    left: 269px;
    width: 1382px;
    height: 88px;
    background: transparent url('img/If you don’t like our services, you can cancel anytime you want , no contracts, no fees..png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#compatible{
    position: relative;
    top: -6681px;
    left: 418px;
    width: 1118px;
    height: 125px;
    background: transparent url('img/Compatible devices.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#theres{
    position: relative;
    top: -6668px;
    left: 181px;
    width: 1544px;
    height: 99px;
    background: transparent url('img/There’s a range of devices where you can enjoy all of the content available in Prime Entertainment:.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#image2{
    position: relative;
    top: -6532px;
    left: 386px;
    width: 256px;
    height: 219px;
    background: transparent url('img/Image 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#image1{
    position: relative;
    top: -6889px;
    left: 685px;
    width: 584px;
    height: 534px;
    background: transparent url('img/Image 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#image3{
    position: relative;
    top: -7270px;
    left: 1261px;
    width: 271px;
    height: 238px;
    background: transparent url('img/Image 3.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#flecha{
    position: relative;
    top: -7448px;
    left: 305px;
    width: 19px;
    height: 27px;
    transform: matrix(0.03, -1, 0.03, 0, 0);
    background: transparent url('img/Flecha.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logocace{
    position: relative;
    top: -7154px;
    left: 826px;
    width: 430px;
    height: 241px;
    background: transparent url('img/Logo CACE Invertido UP.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#group5{
    position: relative;
    top: -7232px;
    left: 543px;
    width: 831px;
    height: 25px;
    background: transparent url('img/Group 5.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#powered{
    position: relative;
    top: -7404px;
    left: 843px;
    width: 92px;
    height: 20px;
    background: transparent url('img/Powered by.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

 

